:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html,body, #app {
  width: 600px;
  height: 600px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 0.5);
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.clicl-text {
  color: #00b96b;
  cursor: pointer;
}
